.table_1{
    margin: auto;
    background-color: beige;
    border-radius: 0 0 20px 20px;
    border-collapse: collapse;
}
.title_1{
    padding: 10px 20px;
    margin: 0 auto;
    background-color: orange;
    border-bottom: 1px solid red;
}
td{
    padding: 5px 10px;
}